@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: theme(colors.neutral.900);
  --color-text: theme(colors.neutral.50);
  --color-primary: theme(colors.green.600);
  --color-secondary: theme(colors.green.400);
  
  /* Font family */
  --font-inter: "Inter", serif;
}

body {
  /* Colors */
  background-color: var(--color-background);
  color: var(--color-text);

  /* Font family */
  font-family: var(--font-inter);
}
